.card {
  display: flex;
  row-gap: 1rem;
  column-gap: 1rem;
  flex-direction: column;
  width: 20rem;
  padding: 1rem;
  border: 1px solid darkblue;
  background-color: #7B8FA1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.actions {
  display: flex;
  column-gap: 1rem;
}

.description {
  font-size: 30px;
  font-weight: 800;
}
