.word {
  font-weight: bold;
  position: relative;
  animation-name: moveRight, moveLeft;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.small {
  font-size: 10px;
}

.medium {
  font-size: 15px;
}

.large {
  font-size: 20px;
}



@keyframes moveRight {
  from {left: 0px;}
  to {left: 30px;}
}


@keyframes moveLeft {
  from {left: 30px;}
  to {left: 0px;}

}